/* Page container */
.page-container {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Form */
.guestbook-prompt {}
.guestbook-form {}
.guestbook-label {}
.guestbook-input {}
.guestbook-textarea {
  box-sizing: border-box;
}
.guestbook-button {}

/* Drawings */
.guestbook-canvas {
  border: 1px solid #000;
  cursor: crosshair;
}
.guestbook-canvas-reset {}
.entry-drawing {
  max-width: 100%;
}

/* Entries */
.entry-header {}
.entry-name {}
.entry-website {}
.entry-body {}
.entry-separator {}
